<section class="four-day-section">
  <div class="date-col">
    <div>
      <h1>{{date1}}</h1>
    </div>
    <div>
      <h1>{{date2}}</h1>
    </div>
    <div>
      <h1>{{date3}}</h1>
    </div>
    <div>
      <h1>{{date4}}</h1>
    </div>
  </div>
  <div class="weather-col">
    <div>
      <h1>{{icon1}}</h1>
      <div class="four-info">
        <p>{{dailyCondition1}}</p>
        <p>HI {{hi1}}° LO {{lo1}}°</p>
      </div>
    </div>
    <div>
      <h1>{{icon2}}</h1>
      <div class="four-info">
        <p>{{dailyCondition2}}</p>
        <p>HI {{hi2}}° LO {{lo2}}°</p>
      </div>
    </div>
    <div>
      <h1>{{icon3}}</h1>
      <div class="four-info">
        <p>{{dailyCondition3}}</p>
        <p>HI {{hi3}}° LO {{lo3}}°</p>
      </div>
    </div>
    <div>
      <h1>{{icon4}}</h1>
      <div class="four-info">
        <p>{{dailyCondition4}}</p>
        <p>HI {{hi4}}° LO {{lo4}}°</p>
      </div>
    </div>
  </div>
</section>
