// FONT IMPORTS

@font-face {
    font-family: 'icon';
    src: url('weather_icons/webfontkit/artill_clean_icons-webfont.woff') format('woff2'),
         url('weather_icons/webfontkit/artill_clean_icons-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bikoregular';
    src: url('biko/biko_webfont/biko_regular-webfont.woff2') format('woff2'),
         url('biko/biko_webfont/biko_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// COLOR SCHEME
$teal: #7FDDD7;
$blue: #126AC4;
$purp: #523AB7;
$red: #EA0785;
$oj: #F0552B;
$yellow: #FBEC7D;
$green: #1CDE89;

// FONTS

$weather-icon: 'icon', sans-serif;
$biko: 'bikoregular', sans-serif;

.four-day-section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* Rectangle 8 */background: linear-gradient(214.9deg, #F0552B 10.03%, rgba(255, 255, 255, 0) 135.31%), linear-gradient(0deg, #EA0785, #EA0785);
  mix-blend-mode: normal;
  opacity: 100%;
  font-family: $biko;
  color: #333;
  .date-col {
    width: 35%;
    height: 100%;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 25%;
      border-bottom: 2px #fff solid;
      border-right: 2px #fff solid;
      h1 {
        font-size: 72px;
      }
    }
  }
  .weather-col {
    width: 65%;
    height: 100%;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 100%;
      height: 25%;
      border-bottom: 2px #fff solid;
      h1 {
        font-family: $weather-icon;
        font-size: 75px;
      }
      .four-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        border: none;
        p {
          margin-bottom: 10px;
          align-self: flex-start;
          text-indent: 10px;
        }
      }
    }
  }
}

//////////////////

// MEDIA QUERIES

/////////////////

@media (min-width: 769px) {
  .four-day-section {
    .date-col {
      div {
        h1 {

        }
      }
    }
    .weather-col {
      div {
        h1 {
          font-size: 150px !important;
        }
        .four-info {
          p {
            font-size: 40px;
            text-indent: 50px;
          }
        }
      }
    }
  }
}
