.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background: #000;
  position: relative;
  h1 {
    font-family: $biko;
    color: #fff;
    font-size: 36px;
  }
  #search {
    position: absolute;
    top: 25%;
    right: 20px;
  }
  #search:hover {
    cursor: crosshair;
    opacity: .7;
  }
  #search:visited {
    opacity: 1;
  }
  #search:active {
    opacity: 1;
  }
}
.nav-border {
  display: flex;
  justify-content: flex-start;
  .oj {
    height: 3px;
    width: 20%;
    background: $oj;
  }
  .red {
    height: 3px;
    width: 20%;
    background: $red;
  }
  .green {
    height: 3px;
    width: 20%;
    background: $green;
  }
  .blue {
    height: 3px;
    width: 20%;
    background: $blue;
  }
  .yellow {
    height: 3px;
    width: 20%;
    background: $yellow;
  }
}
