// FONT IMPORTS

@font-face {
    font-family: 'icon';
    src: url('weather_icons/webfontkit/artill_clean_icons-webfont.woff') format('woff2'),
         url('weather_icons/webfontkit/artill_clean_icons-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bikoregular';
    src: url('biko/biko_webfont/biko_regular-webfont.woff2') format('woff2'),
         url('biko/biko_webfont/biko_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// COLOR SCHEME
$teal: #7FDDD7;
$blue: #126AC4;
$purp: #523AB7;
$red: #EA0785;
$oj: #F0552B;
$yellow: #FBEC7D;
$green: #1CDE89;

// FONTS

$weather-icon: 'icon', sans-serif;
$biko: 'bikoregular', sans-serif;

.search-bar-section {
  display: none;
  div {
    display: flex;
    flex-direction: column;
    font-family: $biko;
    background: #000;
    border: none;
    border-bottom: 1px solid #000;
    .search {
      height: 85px;
      background: #000;
      font-size: 30px;
      text-indent: 15px;
      color: #fff;
      border: none;
    }
    .search:focus {
      outline: 0;
    }
    .search::-webkit-input-placeholder {
      text-indent: 15px;
      color: #fff;
      font-size: 30px;
      // text-align: left;
      text-transform: uppercase;
    }
    .search-btn {
      height: 53px;
      width: 124px;
      margin-left: 15px;
      background: linear-gradient(242.18deg, #F0552B -7.3%, rgba(255, 255, 255, 0) 132.76%), linear-gradient(0deg, #EA0785, #EA0785);
      mix-blend-mode: normal;
      opacity: 100%;
      border: none;
      font-size: 18px;
      letter-spacing: 1px;
      color: #fff;
    }
    .search-btn:hover {
      cursor: crosshair;
      opacity: .9;
    }
    .search-btn:focus {
      outline: 0;
    }
  }
}

//////////////////

// MEDIA QUERIES

/////////////////

@media (min-width: 769px) {
  .search-bar-section {
    // display: none;
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .search {
        width: 40%;
        font-size: 68px;
      }
      .search::-webkit-input-placeholder {
        text-indent: 15px;
        color: #fff;
        font-size: 36px;
        text-transform: uppercase;
      }
      .search-btn {
      }
    }
  }
}


//svg animations

// .search-section {
//   height: 100vh;
//   width: 100vw;
//   background: #000;
//   .search-container {
//     height: 100%;
//     div {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       flex-direction: column;
//       height: 100%;
//     }
//     div {
//       #lightning {
//         height: 200px;
//         margin-bottom: 20px;
//         #l1 {
//           animation: fill 1.5s;
//           animation-direction: alternate;
//           -webkit-animation-iteration-count: infinite;
//           animation-iteration-count: infinite;
//         }
//         @keyframes fill {
//           from { fill: $yellow; }
//           to { fill: #000; }
//         }
//         #l2 {
//           animation: fill 1.5s;
//           animation-delay: 1s;
//           -webkit-animation-iteration-count: infinite;
//           animation-iteration-count: infinite;
//         }
//         @keyframes fill {
//           from { fill: $yellow; }
//           to { fill: #000; }
//         }
//       }
//       h1 {
//         margin-bottom: 20px;
//         font-family: $biko;
//         color: #fff;
//         text-transform: uppercase;
//       }
//       input {
//         height: 50px;
//         width: 75%;
//         margin-bottom: 20px;
//         background: $yellow;
//         border: none;
//         font-family: $biko;
//         font-size: 40px;
//         text-align: center;
//         text-transform: uppercase;
//         color: #000;
//         border-radius: 10px;
//         // border: 1px white solid;
//       }
//       input:focus {
//         outline: 0;
//       }
//       input::-webkit-input-placeholder {
//         color: #000;
//         font-size: 16px;
//         text-align: center;
//         text-transform: uppercase;
//       }
//       button {
//         height: 50px;
//         width: 150px;
//         font-family: $biko;
//         color: $teal;
//         background: #000;
//         border: 5px $teal solid;
//         border-radius: 10px;
//       }
//       button:focus {
//         outline:0;
//       }
//     }
//   }
// }
