// FONT IMPORTS

@font-face {
    font-family: 'icon';
    src: url('weather_icons/webfontkit/artill_clean_icons-webfont.woff') format('woff2'),
         url('weather_icons/webfontkit/artill_clean_icons-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bikoregular';
    src: url('biko/biko_webfont/biko_regular-webfont.woff2') format('woff2'),
         url('biko/biko_webfont/biko_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// COLOR SCHEME
$teal: #7FDDD7;
$blue: #126AC4;
$purp: #523AB7;
$red: #EA0785;
$oj: #F0552B;
$yellow: #FBEC7D;
$green: #1CDE89;

// FONTS

$weather-icon: 'icon', sans-serif;
$biko: 'bikoregular', sans-serif;

.search-bar-section {
  display: none;
  div {
    display: flex;
    flex-direction: column;
    font-family: $biko;
    background: #000;
    border: none;
    border-bottom: 1px solid #000;
    .search {
      height: 85px;
      background: #000;
      font-size: 30px;
      text-indent: 15px;
      color: #fff;
      border: none;
    }
    .search:focus {
      outline: 0;
    }
    .search::-webkit-input-placeholder {
      text-indent: 15px;
      color: #fff;
      font-size: 30px;
      // text-align: left;
      text-transform: uppercase;
    }
    .search-btn {
      height: 53px;
      width: 124px;
      margin-left: 15px;
      background: linear-gradient(242.18deg, #F0552B -7.3%, rgba(255, 255, 255, 0) 132.76%), linear-gradient(0deg, #EA0785, #EA0785);
      mix-blend-mode: normal;
      opacity: 100%;
      border: none;
      font-size: 18px;
      letter-spacing: 1px;
      color: #fff;
    }
    .search-btn:hover {
      cursor: crosshair;
      opacity: .9;
    }
    .search-btn:focus {
      outline: 0;
    }
  }
}

//////////////////

// MEDIA QUERIES

/////////////////

@media (min-width: 769px) {
  .search-bar-section {
    // display: none;
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .search {
        width: 40%;
        font-size: 68px;
      }
      .search::-webkit-input-placeholder {
        text-indent: 15px;
        color: #fff;
        font-size: 36px;
        text-transform: uppercase;
      }
      .search-btn {
      }
    }
  }
}
